
.vs/StringUtilty/FileContentIndex/74c8d4e3-f8f0-4aaa-ab61-010b21604ef8.vsidx
.vs/StringUtilty/FileContentIndex/8d159cf9-6e57-4fef-a4b6-3b4b099a9a09.vsidx
.vs/StringUtilty/FileContentIndex/ba6006af-1e0f-4b20-9340-70715561dc4c.vsidx
.vs/StringUtilty/FileContentIndex/caa71488-bf9c-46f1-bc42-7e5cf6f6e88c.vsidx
.vs/StringUtilty/FileContentIndex/d34bb81c-5045-4254-882c-1c9a32f569bb.vsidx
.vs/StringUtilty/v17/Browse.VC.opendb
